@tailwind base;
@tailwind components;
@tailwind utilities;

.markdown-editor-text-area {
  resize: none !important;
  overflow: hidden !important;
  height: auto;
  min-height: 100px;
}

.rich-editor-container.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: white; /* Optional: add a background to differentiate */
  z-index: 1000; /* Ensure it appears above other content */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.editors {
  width: 100%;
  max-width: 1000px;
}

.rich-editor-container {
  transition: all 0.3s;
  position: relative;
}
