/* Disabled automatic source detection. */
@import 'tailwindcss' important;
@import './milkdown/style.css';
@plugin '@iconify/tailwind4';
@plugin '@tailwindcss/typography';

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

.milkdown * {
  padding: unset;
  margin: unset;
}

.card,
.milkdown .card {
  @apply rounded-sm bg-white p-2 drop-shadow-lg;
}

.icon,
.milkdown .icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-color: currentColor;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;

  &.strike {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M14.348 12H21v2h-4.613c.239.515.368 1.094.368 1.748q0 1.976-1.423 3.114Q13.912 20 11.376 20q-2.335 0-4.132-.878v-2.874q1.477.659 2.5.928q1.023.27 1.872.27q1.019 0 1.562-.39q.545-.388.545-1.158q0-.428-.24-.763a2.7 2.7 0 0 0-.704-.643c-.18-.12-.482-.287-.88-.491H3v-2h11.348zm-3.528-2a1.6 1.6 0 0 1-.193-.235a1.3 1.3 0 0 1-.189-.713q0-.658.469-1.068q.47-.41 1.348-.409q.738 0 1.502.19q.764.189 1.931.669l.998-2.405a15 15 0 0 0-2.16-.758A8.5 8.5 0 0 0 12.354 5q-2.316 0-3.628 1.108q-1.311 1.107-1.312 3.044c0 .302.036.58.088.848z'/%3E%3C/svg%3E");
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
  }

  &.link {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M17 13H7v-2h10zm1-6h-1c-1.631 0-3.065.792-3.977 2H18c1.103 0 2 .897 2 2v2c0 1.103-.897 2-2 2h-4.977c.913 1.208 2.347 2 3.977 2h1a4 4 0 0 0 4-4v-2a4 4 0 0 0-4-4M2 11v2a4 4 0 0 0 4 4h1c1.63 0 3.065-.792 3.977-2H6c-1.103 0-2-.897-2-2v-2c0-1.103.897-2 2-2h4.977C10.065 7.792 8.631 7 7 7H6a4 4 0 0 0-4 4'/%3E%3C/svg%3E");
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
  }

  &.bold {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M7 5.009h4.547q3.19 0 4.632.907t1.442 2.887q0 1.343-.631 2.205q-.631.86-1.678 1.036v.103q1.427.318 2.057 1.189q.631.87.631 2.316q0 2.051-1.482 3.199Q15.034 20 12.491 20H7zm3 5.937h2.027q1.293 0 1.872-.4t.579-1.323q0-.861-.63-1.236q-.632-.374-1.996-.374H10zm0 2.523v3.906h2.253q1.313 0 1.939-.502q.626-.503.626-1.539q0-1.866-2.668-1.865z'/%3E%3C/svg%3E");
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
  }

  &.italic {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='m10.536 5l-.427 2h1.5L9.263 18h-1.5l-.427 2h6.128l.426-2h-1.5l2.347-11h1.5l.427-2z'/%3E%3C/svg%3E");
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
  }

  &.drag {
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M11 13H5.875l1.1 1.075q.3.3.3.725t-.3.725t-.725.3t-.725-.3L2.7 12.7q-.15-.15-.213-.325T2.426 12t.063-.375t.212-.325l2.825-2.825q.3-.3.713-.3t.712.3t.3.713t-.3.712L5.85 11H11V5.85L9.875 6.975q-.3.3-.7.288t-.7-.313t-.3-.712t.3-.713L11.3 2.7q.15-.15.325-.213T12 2.425t.375.062t.325.213l2.85 2.85q.3.3.3.7t-.3.7t-.713.3t-.712-.3L13 5.85V11h5.125l-1.1-1.075q-.3-.3-.3-.725t.3-.725t.725-.3t.725.3L21.3 11.3q.15.15.213.325t.062.375t-.062.375t-.213.325l-2.85 2.85q-.3.3-.7.288t-.7-.313t-.3-.712t.3-.713l1.1-1.1H13v5.125l1.075-1.1q.3-.3.725-.3t.725.3t.3.725t-.3.725L12.7 21.3q-.15.15-.325.213t-.375.062t-.375-.062t-.325-.213l-2.85-2.85q-.3-.3-.287-.712t.312-.713t.713-.3t.712.3L11 18.15z'/%3E%3C/svg%3E");
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
  }
}

button,
.btn,
.milkdown .btn,
.milkdown button {
  @apply flex items-center justify-center rounded-sm px-2 py-1 transition-colors;
  &.btn--default {
    @apply bg-gray-200 hover:bg-gray-300;
  }

  &.btn--focused {
    @apply bg-blue-200 hover:bg-blue-300;
  }

  &.btn--icon {
    @apply rounded-full px-1 py-1;
  }
}

.milkdown {
  .menu {
    @apply flex min-w-52 flex-col gap-2 rounded-sm bg-white p-2 drop-shadow-lg data-[show=false]:hidden;
  }

  .ProseMirror {
    &.editor {
      border: 1px solid #e1e5e9;
      border-radius: 8px;
      padding: 24px;
      /* @apply prose prose-table:p-0 max-w-none; */

      h1 {
        @apply my-4! text-3xl!;
      }

      h2 {
        @apply my-4! text-2xl!;
      }

      h3 {
        @apply my-3! text-xl!;
      }

      h4 {
        @apply my-3!;
      }

      h5 {
        @apply my-2!;
      }

      h6 {
        @apply my-2!;
      }

      p:not(li.step > p:first-of-type) {
        @apply mt-1 mb-4 leading-5;
        &.primary-action {
          @apply w-fit! rounded-sm! bg-blue-600! px-2! py-1! text-white!;
        }
      }
    }
  }
}

.markdown-editor-text-area {
  resize: none !important;
  overflow: hidden !important;
  height: auto;
  min-height: 100px;
}

.rich-editor-container.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: white; /* Optional: add a background to differentiate */
  z-index: 1000; /* Ensure it appears above other content */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.editors {
  width: 100%;
  max-width: 1000px;
}

.rich-editor-container {
  transition: all 0.3s;
  position: relative;
}
