name: Deploy CMS to EC2

on:
  push:
    branches:
      - main
      - stage
    paths:
      - 'apps/cms/**'
      - '.github/workflows/deploy-cms.yml'

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    name: Deploy (${{ github.ref_name }})
    environment: ${{ github.ref_name == 'stage' && 'cms-stage' || 'cms-prod' }}
    concurrency:
      group: ci-${{github.ref}}
      cancel-in-progress: false
    runs-on: ubuntu-24.04-arm
    env:
      AWS_INSTANCE_SG_ID: ${{ github.ref_name == 'stage' && secrets.STAGE_AWS_INSTANCE_SG_ID || secrets.AWS_INSTANCE_SG_ID }}
      EC2_DEPLOY_ROLE_ARN: ${{ secrets.EC2_DEPLOY_ROLE_ARN }}
      EC2_SSH_PRIVATE_KEY: ${{ github.ref_name == 'stage' && secrets.STAGE_EC2_SSH_PRIVATE_KEY || secrets.EC2_SSH_PRIVATE_KEY }}
      EC2_SERVER_HOST: ${{ github.ref_name == 'stage' && secrets.STAGE_EC2_SERVER_HOST || secrets.EC2_SERVER_HOST }}
      EC2_SERVER_USER: ${{ github.ref_name == 'stage' && secrets.STAGE_EC2_SERVER_USER || secrets.EC2_SERVER_USER }}
      DB_NAME: ${{ secrets.DB_NAME }}
      DB_USER: ${{ secrets.DB_USER }}
      DB_HOST: ${{ github.ref_name == 'stage' && secrets.STAGE_DB_HOST || secrets.DB_HOST }}
      DB_PASSWORD: ${{ github.ref_name == 'stage' && secrets.STAGE_DB_PASSWORD || secrets.DB_PASSWORD }}
      SESSION_SECRET: ${{ github.ref_name == 'stage' && secrets.STAGE_SESSION_SECRET || secrets.SESSION_SECRET }}
      S3_BUCKET_NAME: ${{ github.ref_name == 'stage' && secrets.STAGE_S3_BUCKET_NAME || secrets.S3_BUCKET_NAME }}
      S3_REGION: ${{ secrets.S3_REGION }}
      S3_ACCESS_KEY_ID: ${{ secrets.S3_ACCESS_KEY_ID }}
      S3_SECRET_ACCESS_KEY: ${{ secrets.S3_SECRET_ACCESS_KEY }}
      TYPESENSE_API_KEY: ${{ github.ref_name == 'stage' && secrets.STAGE_TYPESENSE_API_KEY || secrets.TYPESENSE_API_KEY }}
      GOV_DELIVERY_USERNAME: ${{ github.ref_name == 'stage' && secrets.STAGE_GOV_DELIVERY_USERNAME || secrets.GOV_DELIVERY_USERNAME }}
      GOV_DELIVERY_PASSWORD: ${{ github.ref_name == 'stage' && secrets.STAGE_GOV_DELIVERY_PASSWORD || secrets.GOV_DELIVERY_PASSWORD }}
      GOV_DELIVERY_SUB_DOMAIN: ${{ github.ref_name == 'stage' && secrets.STAGE_GOV_DELIVERY_SUB_DOMAIN || secrets.GOV_DELIVERY_SUB_DOMAIN }}
      GOV_DELIVERY_ACCOUNT_CODE: ${{ github.ref_name == 'stage' && secrets.STAGE_GOV_DELIVERY_ACCOUNT_CODE || secrets.GOV_DELIVERY_ACCOUNT_CODE }}
      GOV_DELIVERY_FROM_ADDRESS: ${{ github.ref_name == 'stage' && secrets.STAGE_GOV_DELIVERY_FROM_ADDRESS || secrets.GOV_DELIVERY_FROM_ADDRESS }}
      REDIS_HOST: ${{ github.ref_name == 'stage' && secrets.STAGE_REDIS_HOST || secrets.REDIS_HOST }}
      REDIS_PORT: ${{ github.ref_name == 'stage' && secrets.STAGE_REDIS_PORT || secrets.REDIS_PORT }}
      REDIS_PASSWORD: ${{ github.ref_name == 'stage' && secrets.STAGE_REDIS_PASSWORD || secrets.REDIS_PASSWORD }}
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ env.EC2_DEPLOY_ROLE_ARN }}
          role-session-name: github-actions-deploy-cms-session
          aws-region: us-west-2

      - name: Get runner IP address
        id: ip
        uses: haythem/public-ip@v1.3

      - name: Whitelist GitHub action IP address
        run: |
          aws ec2 authorize-security-group-ingress \
            --group-id $AWS_INSTANCE_SG_ID \
            --protocol tcp \
            --port 22 \
            --cidr ${{steps.ip.outputs.ipv4}}/32

      - name: Add SSH Key
        uses: kielabokkie/ssh-key-and-known-hosts-action@v1.4.1
        with:
          ssh-private-key: ${{ env.EC2_SSH_PRIVATE_KEY }}
          ssh-host: ${{ env.EC2_SERVER_HOST }}

      - name: Checkout code
        uses: actions/checkout@v4

      - name: 'Create Env File'
        run: |
          cat <<EOT > ./apps/cms/.env
          DATABASE=${{env.DB_NAME}}
          DATABASE_USER=${{env.DB_USER}}
          DATABASE_HOST=${{env.DB_HOST}}
          DATABASE_PASSWORD=${{env.DB_PASSWORD}}
          DATABASE_PORT=5432
          DATABASE_PROVIDER=postgresql
          DATABASE_PROTOCOL=postgres
          WEB_PORT=3333
          ORIGIN_HOST=${{github.ref_name == 'stage' && 'https://stage.matsu.gov' || 'https://www.matsu.gov'}}
          NEXTAUTH_URL=${{github.ref_name == 'stage' && 'https://cms.stage.matsu.gov' || 'https://cms.matsu.gov'}}
          SESSION_SECRET=${{env.SESSION_SECRET}}
          AD_TENANT_ID=${{secrets.AD_TENANT_ID}}
          AD_CLIENT_ID=${{secrets.AD_CLIENT_ID}}
          AD_CLIENT_SECRET=${{secrets.AD_CLIENT_SECRET}}
          AD_REDIRECT_HOST=${{github.ref_name == 'stage' && 'https://cms.stage.matsu.gov' || 'https://cms.matsu.gov'}}
          S3_BUCKET_NAME=${{env.S3_BUCKET_NAME}}
          S3_REGION=${{env.S3_REGION}}
          S3_ACCESS_KEY_ID=${{env.S3_ACCESS_KEY_ID}}
          S3_SECRET_ACCESS_KEY=${{env.S3_SECRET_ACCESS_KEY}}
          TYPESENSE_API_KEY=${{env.TYPESENSE_API_KEY}}
          TYPESENSE_HOST=${{github.ref_name == 'stage' && 'search-internal.stage.matsu.gov' || 'search.matsu.gov'}}
          TYPESENSE_PORT=443
          TYPESENSE_PROTOCOL=https
          GOV_DELIVERY_USERNAME=${{env.GOV_DELIVERY_USERNAME}}
          GOV_DELIVERY_PASSWORD=${{env.GOV_DELIVERY_PASSWORD}}
          GOV_DELIVERY_SUB_DOMAIN=${{env.GOV_DELIVERY_SUB_DOMAIN}}
          GOV_DELIVERY_ACCOUNT_CODE=${{env.GOV_DELIVERY_ACCOUNT_CODE}}
          GOV_DELIVERY_FROM_ADDRESS=${{env.GOV_DELIVERY_FROM_ADDRESS}}
          REDIS_HOST=${{env.REDIS_HOST}}
          REDIS_PORT=${{env.REDIS_PORT}}
          REDIS_PASSWORD=${{env.REDIS_PASSWORD}}
          EOT

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          run_install: false

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'pnpm'

      - name: Install Dependencies
        run: pnpm install --filter cms --workspace-root

      - name: Build CMS
        run: pnpm run cms:build

      - name: Zip the required files
        run: zip -rq --symlinks cms.zip ./apps/cms/ ./node_modules/ ./package.json ./pnpm-lock.yaml ./pnpm-workspace.yaml ./turbo.json ./.npmrc

      - name: SSH into the server and ensure cms directory exists
        run: |
          ssh -o ServerAliveInterval=60 ${{ env.EC2_SERVER_USER }}@${{ env.EC2_SERVER_HOST }} << 'EOF'
            mkdir -p ./cms
          EOF

      - name: Upload zipped repo to server
        run: |
          scp cms.zip ${{ env.EC2_SERVER_USER }}@${{ env.EC2_SERVER_HOST }}:/home/${{ env.EC2_SERVER_USER }}/cms

      - name: SSH into the server and deploy
        run: |
          ssh -o ServerAliveInterval=60 ${{ env.EC2_SERVER_USER }}@${{ env.EC2_SERVER_HOST }} << 'EOF'
            set -e
            
            # Load nvm
            export NVM_DIR="$HOME/.nvm"
            [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
            [ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion

            # Load nvm
            export NVM_DIR="$HOME/.nvm"
            [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
            [ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion

            # Use Node.js
            nvm use 22.21.0
            
            # Create temp and backup directory if they don't exist
            mkdir -p ./cms/active
            cd ./cms

            # Unzip the files in the temp folder
            unzip -q -o ./cms.zip -d ./temp

            # Stop the pm2 server
            pm2 stop all || true

            # Move the active folder to backup
            mv ./active ./backup
            
            # Move the temp folder to active
            mv ./temp ./active
            cd ./active

            # Run database migrations
            pnpm run cms:migrate

            # Start the production server
            pm2 reload cms || pm2 start pnpm --name cms -- run cms:start
            pm2 reload cms-publish-worker || pm2 start pnpm --name cms-publish-worker -- run cms:publish-worker
            pm2 reload cms-process-page-views-worker || pm2 start pnpm --name cms-process-page-views-worker -- run cms:process-page-views-worker
            
            # Remove temporary folders.
            rm -rf ../cms.zip
            rm -rf ../backup
          EOF

      - name: Remove GitHub actions IP from security group
        if: always()
        run: |
          aws ec2 revoke-security-group-ingress \
            --group-id $AWS_INSTANCE_SG_ID \
            --protocol tcp \
            --port 22 \
            --cidr ${{steps.ip.outputs.ipv4}}/32
